* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5em;
    line-height: 2;
}

header {
    background-color: azure;
    font-size: 2em;
}

main {
    background-color: azure;
    flex: 4;
    order: 2;
    min-height: 85vh;
    min-width: 500px;
}

footer {
    background-color: azure;
    order: 4;
    font-size: small;
}

#menu {
    background-color: azure;
    flex: 1;
    order: 1;
    min-width: 2px;
}

#right-sidebar {
    flex: 1;
    order: 3;
    min-width: 200px;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}

header,
footer {
    width: 100%;
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.card {
    background-color: white;
    width: 400px;
    margin: 10px;
    display: inline-block;
    background-color: white;
    width: 400px;

}

.card img{
    width: 100%;
    object-fit: cover;
    height: 14em;
}

.card h2{
    font-size: 12;
    padding-top: 0;
    padding: 10px 10px
}

.card p{
    font-size: .9em;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(170, 194, 255, 0.2);
    backdrop-filter: blur(5px);
    transition: all 0.2s;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    background-color: azure;
    padding: 10px;
}

.sideBar a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: #000000;
    font-size: 10;
}

.sideBar a:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}