body{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    background-color: darkslategrey;
    color: darkslategrey;
}

h1{
    font-size: 2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(20, 23, 125);
}

#wrapper{
    width:600px;
    background-color: rgb(222, 222, 222);
    border: black solid 1px;
    margin:auto;
}
#wrapper img {
    display: flex;
    border:black;
    margin: 0 auto;
}
p {
    color: rgb(65, 39, 39);
}
.poem {
    text-align: center;
}